
.apps {
	border-left: 1px solid #CCC; 
	margin-top:15px;
	padding-left:50px;
}

.apps h3 {
	color:#892d25;
}

h3 {
	color:#892d25;
}



.grid * a {
	color:#fe4800;
}

.submenu ul{
	list-style-type: none;
	padding-left: 25px;
}

.closed {
	display: none;
}

.open {
	display: block;
}

