
<html lang="en"></html>
<head>
  <style type="text/css">@charset "UTF-8";[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak,.ng-hide{display:none !important;}ng\:form{display:block;}</style>
  <title>Logscape Apps&#x9;</title>
  <link href="css/bootstrap.min.css" rel="stylesheet"/>
  <link href="css/style-app.css" rel="stylesheet"/>
  <link href="css/app.css" rel="stylesheet"/>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.js"></script>
  <style type="text/css"></style>
  <script src="js/angular-1.2.9/angular.min.js"></script>
  <script src="js/angular-1.2.9/angular-animate.min.js"></script>
  <script src="js/angular-1.2.9/angular-route.min.js"></script>
  <script src="js/app/controllers.js"></script>
</head>
<body>
  <div style="width:100%;height:85px;background-color:#333;">
    <!--
    diva(href="/") Documentation
    a(href="")  Forums 	| 
    a(href="") Getting Started	|
    a(href="") Logscape  	| 
    -->
    <div style="padding-left:100px;padding-top:20px"><img src="images/logscape-apps-logo.png" style="height:45px"/></div>
  </div>
  <div style="width:100%;height:40px;background-color:#EEE;box-shadow: 0 0 2px #999;">
    <div style="padding-left:140px;padding-top:10px"><a href="/">Documentation  | </a><a href="/cloud.html">Cloud | </a><a href="http://logscape.com">Main Website  | </a><a href="http://logscape.com/get.html">Download  | </a><a href="http://logscape.activeboard.com/">Forums   | </a><a href="/apps.html">Apps   | </a></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-12">
      <div ng-app="docBrowserApp" class="row ng-scope">
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-11 apps">
              <h3>Apps and Integrations </h3>
              <hr/>
              <p>Logscape Apps search and monitor the noisy edges to give you the complete picture. Standard monitoring of syslog,sockets and log inputs are useful, but that&rsquo;s only part of the story. To really understand what&rsquo;s going on, you also need  to search and monitor all components of your infrastructure. Logscape Apps can invoke any service or executable shell scripts, vbs scripts, groovy, ruby, SQL, etc. to search and monitor data from any source or application</p><br/><a href="apps-intro.html">What is an App ?  |</a><a href="apps-deploy.html"> How to deploy&#x9; | </a><a href="apps-style.html"> Style Guidelines   | </a>
              <div class="col-md-4">
                <p>Search |  
                  <input ng-model="query" class="ng-pristine ng-valid"/>
                </p>
              </div>
              <div class="col-md-8"></div>
              <!--
              input(ng-model="category.databases",type="checkbox",value="true")
              span Databases
              input(ng-model="category.webServers",type="checkbox",value="true" )
              span Web Servers
              input(ng-model="category.java",type="checkbox",value="true")
              br
              span Java
              input(ng-model="category.dotnet",type="checkbox",value="true")
              span .Network Devices
              input(ng-model="category.java",type="checkbox",value="true")
              span Middleware
              input(ng-model="category.java",type="checkbox",value="true")
              -->
            </div>
          </div>
          <hr/>
          <div style="padding-left:25px" class="row">
            <div class="col-md-11"></div>
            <!--
            h6a(href="#/grid") [ Grid View |
            a(href="#/list")  List View ]  
            -->
            <div ng-controller="docListCtrl" class="ng-scope">
              <!--
              div(ng-repeat="c in getCategories")input(ng-model="{{c}}",type="checkbox",value="true")
              span {{c}}
              -->
              <!-- ngView: undefined-->
              <div class="ng-view ng-scope">
                <div ng-controller="docListCtrl" class="ng-scope">
                  <!-- ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/windows_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Windows App</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Get monitoring of Windows Events and server health. Find charts, alerts and Workspaces to give you a view on your Windows server estate.</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/windowsapp#windowsapp-10">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/windowsapp/raw/master/dist/WindowsApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/unix_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Unix Operating Systems</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor Unix, Solaris and OS X operating systems. Get insights on operating system KPIs with detailed charts and alerts</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/unixapp#unixapp-11-">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/unixapp/raw/master/dist/UnixApp-1.1.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/cassandra_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Cassandra</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Collect Cassandra connection, cache and performance metrics. Visualize and monitor your cassandra instances</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/cassandraapp#intro">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/cassandraapp/raw/master/CassandraApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/mongo_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> MongoDB</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor Mongo application logs, caches, tables and mongo server metrics  </p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/cassandraapp#intro">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/cassandraapp/raw/master/MongodbApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/mysql_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Mysql</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor the health of mysql instances, track cache, buffers and slow queries  </p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/mysqlapp#intro">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/mysqlapp/raw/master/dist/MySQLApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/postgres_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> PostgresSQL</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor your Postgres databases and processes. Get views on your tables, indexes and buffers.</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/postgresapp">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/postgresapp/raw/master/dist/PostgresqlApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/collectd_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Visualize Collectd Metrics</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Aggregate collectd metrics across several hosts and visualize system health and performance metrics on custom Collectd Workspaces.</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/CollectdApp">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/weblogsapp/raw/master/dist/WebLogsApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/apache_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Apache Http Server</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor Apache HTTP workers, bandwidth and connections  </p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/apache2app/raw/master/dist/Apache2App-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/nginx_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Nginx Web Server</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor Nginx server health and track connections statistics   </p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/nginxapp#nginxapp-10">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/nginxapp/raw/master/NginxApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/java_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Java</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor the JVM, java application logs and garbage collection. Visualize custom metrics through JMX</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/javaapp">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/javaapp/blob/master/dist/JavaApp-1.0.zip?raw=true">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/haproxy_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> HAProxy</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor the performance of your HAProxy web farm. Get a detailed view connections, requests and queues</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/haproxyapp/raw/master/dist/HAProxyApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/cisco_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Cisco ASA Routers</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Analyse Cisco ASA syslog messages, track and measure bandwidth usage and connection throughput and alert on suspicious traffic</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/ciscoapp/raw/master/dist/CiscoApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/weblogs_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Analyze Weblogs</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Visualize visitors, bandwidth and other metrics for your IIS,Apache and Nginx web logs. Provides support for common web log formats CLF,XLF and custom.</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/weblogsapp/raw/master/dist/WebLogsApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/docker_logo.png" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Docker</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor Docker and process running in Docker containers. Visualize resource metrics and container life cycles</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/DockerApp#dockerapp-10">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/DockerApp/raw/master/DockerApp-1.0.zip">Download </a></div>
                      </div>
                    </div>
                  </div>
                  <!-- end ngRepeat: doc in documents | filter:filterByCategory | filter:query-->
                  <div ng-repeat="doc in documents | filter:filterByCategory | filter:query" class="ng-scope">
                    <div style="width:300px;float:left;margin: 5px 5px 5px 5px">
                      <div style="background-color:#EEE;border: 1px solid #CCC;width:300px;height:300px;padding: 10px 10px 10px 10px">
                        <center>
                          <div style="float:center;"><img src="images/hpc_server.jpg" style="height:80px"/></div>
                        </center>
                        <p></p>
                        <h3 class="ng-binding"> Microsoft HPC</h3>
                        <p></p>
                        <!-- span.category  >> {{doc.docType}}-->
                        <p class="ng-binding">Monitor your entire Microsoft HPC grid, Visualize performance and resource metrics.</p>
                        <div style="float:left;padding-left:10px" class="grid"><a style="color:fe4800" href="https://github.com/logscape/hpc-server">Github Repo  | </a></div>
                        <div style="color:fe4800;float:left;padding-left:10px"><a style="color:fe4800" href="https://github.com/logscape/hpc-server/blob/master/dist/MicrosoftHPCApp-1.1.zip?raw=true">Download </a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--
            					div(ng-repeat="doc in documents | filter:filterByCategory | filter:query")
             div(style="width:500px;float:left;margin: 5px 5px 5px 5px")
              div(style="border: 1px solid #CCC;width:100px;height:130px;float:left;padding: 10px 10px 10px 10px")
               div(style="float:center")
                img(src="images/apps-doc-logo.png",style="width:80px")
              div(style="border: 1px solid #CCC;width:300px;float:left")
               p {{doc.name}}
               span.categoy  >> {{doc.docType}}
               p {{doc.description}}
               div(style="float:left;padding-left:10px")
                a(href="") Documentation  |
               div(style="float:left;padding-left:10px")
                a(href="{{doc.zipURL}}") Download
            -->
          </div>
        </div>
        <div class="col-md-1">
          <!--
          ul
          li(ng-repeat="doc in documents | filter:filterByCategory | filter:query",style="list-style:none;display:block;float:left;width:300px;padding:10px 10px 10px 10px")
          div(style="border: 1px solid #CCC;border-radius: 10px;padding: 15px 15px 15px 15px;")
          table.table
          tr
          td(style="width:100px")
          img(src="images/",style="width:100px;height:100px")
          td(style="width:600px")
          p {{doc.name}}
          span.categoy  >> {{doc.type}}
          p {{doc.description}}
          //
          div
          div.app-icon-box(style="border: 1px solid #CCC;float:left;width:200px")
          div(style="width:200px,height:200px")
          p &nbsp;
          div.app-text-box(style="float:left;width:400px")
          div(style="display:block")
          p {{doc.name}}
          div(style="display:block")
          p {{doc.description}}
          -->
        </div>
      </div>
    </div>
  </div>
</body>