!!! 5
html(lang="en")
	head
		title Logscape Apps	
		link(href="css/bootstrap.min.css",rel="stylesheet")
		link(href="css/style.css",rel="stylesheet")
		script(src="js/bootstrap.min.js")
		script(src="js/jquery.js")
	body

		.container		
			.navbar.navbar-fixed-top
				.navbar-inner
					.nav-collapse.collapse
						ul.nav
							li.active  Main Support Site 
							li Explore Logscape Apps 
							li 
								a(href="") Download 
					h3 Logscape Apps 
					a(href="index.html") Getting Started | 
					a(href="http://support.liquidlabs.co.uk")  Older Versions 1.3x Docs   

		.container-fluid
			br
			br 
			br
			br
			br
			.row
				.col-md-2
					br
			
					ul
						li 
							a(href="https://github.com/logscape/windowsapp#windowsapp-10") WindowsApp
						li 
							a(href="https://github.com/logscape/unixapp#unixapp-10") UnixApp

						li 
							a(href="https://github.com/logscape/coherenceapp#oraclecoherenceapp-10") Oracle Coherence App

						li 
							a(href="https://github.com/logscape/javaapp#javaapp-10") JavaApp

						li 
							a(href="https://github.com/logscape/vmwareapp#vmwareapp-10") VMWareApp

						li
							a(href="https://github.com/logscape/ciscoapp#ciscoapp-10") Cisco Devices



 
				.col-md-10
					block content
