!!! 5
html(lang="en")
	head
		title	Logscape 2.0 	
		link(href="css/bootstrap.min.css",rel="stylesheet")
		link(href="css/style.css",rel="stylesheet")
		script(src="js/bootstrap.min.js")
		script(src="js/jquery.js")
	body

		.container		
			.navbar.navbar-fixed-top
				.navbar-inner
					.nav-collapse.collapse
						ul.nav.navbar-nav
							li.active  Main Support Site 
							li Explore Logscape Apps 
							li 
								a(href="") Download 
					h3 Logscape 2.0  

					a(href="apps.html")  Applications   	|
					a(href="http://support.liquidlabs.co.uk")  Older Versions (1.3x)
		.container
			p 
			p 
			br
			br
			br
			p 
			p 
			.row
				.col-md-3
					
					p 
						|Overview 
					ul
						li 
							a(href="index.html") Getting Started
							ul
								li
									a(href="searching-video.html") Quick Search Video
								li 
									a(href="workspaces.html") Create a Workspace Video 
						li
							a(href="ds-add.html") How to add data 
						li 
							a(href="deploy.html") How to deploy Apps 
						li
							a(href="releasenotes.html") Release Notes 
					p 
						|Installation Guide 
					ul
						li	
							a(href="install-prerequisites.html") Prerequisites
						li  
							a(href="install-manager.html") Manager Installation
						li 
							a(href="install-forwarder.html") Install a Forwarder
						li 
							a(href="install-indexer.html") Install an Indexer		
						li	
							a(href="install-updating.html") Updating Logscape 

					p
						|Common Deployment Scenarios
					ul
						li
							a(href="using-forwarders.html") Using Forwarders 
						li
							a(href="using-indexers.html") Using IndexStores 

					p 
						a(href="apps.html") Logscape Apps
					ul
						li 
							a(href="https://github.com/logscape/windowsapp#windowsapp-10") WindowsApp
						li 
							a(href="https://github.com/logscape/unixapp#unixapp-10") UnixApp

						li 
							a(href="https://github.com/logscape/coherenceapp#oraclecoherenceapp-10") Oracle Coherence App


						li 
							a(href="https://github.com/logscape/javaapp#javaapp-10") JavaApp
						li 
							a(href="https://github.com/logscape/ciscoapp#ciscoapp-10") Syslog Devices 

					p 
						|Contact
					div
						strong 
							span email: 
								a(href="#") support@logscape.com
						br
						strong
							span twitter: 
								a(href="#") logscape@twitter.com 

				.col-md-9
					block content

		script(src="js/ga.js") 
