!!! 5
html(lang="en")
	head
		title	Logscape 2.0 	
		link(href="css/bootstrap.min.css",rel="stylesheet")
		link(href="css/style.css",rel="stylesheet")
		script(src="js/bootstrap.min.js")
		script(src="js/jquery.js")
	body

		.container		
			.navbar.navbar-fixed-top
				.navbar-inner
					.nav-collapse.collapse
						ul.nav.navbar-nav
							li.active  Main Support Site 
							li Explore Logscape Apps 
							li 
								a(href="") Download 
					h3 Logscape 2.0  
					a(href="apps.html")  Applications   	|
					a(href="http://support.liquidlabs.co.uk")  Older Versions (1.3x)

//
					a(href="monitoring-start.html") Monitoring Guide |  
		.container-fluid
			p 
			p 
			br
			br
			br
			p 
			p 
			.row
				.col-md-2.nav-padding
					
					p 
						h3 Getting Started
					ul
						li 
							a(href="index.html") Getting Started
							ul
								li
									a(href="searching-video.html") Quick Search Video
								li 
									a(href="workspaces.html") Create a Workspace Video 
								li
									a(href="data-flow.html") Data Flow 
							//- 
								li
									a(href="patterns.html") Creating custom datatypes 
						li	
							a(href="searching-overview.html")	Search Overview
							ul
								li
									a(href="searching-cheatsheet.html") Cheat Sheet 
								li
									a(href="searching-functions.html") Function Index
						li
							a(href="ds-add.html") How to add data 
							ul
								li 
									a(href="ds-syslog.html") Syslog Devices 
						li 
							a(href="deploy.html") How to deploy Apps
						li
							a(href="alerting.html") Alerting  
						li
							a(href="datatypes.html") Data Types  
						li
							a(href="releasenotes.html") Release Notes 
					p 
						|Installation Guide 
					ul
						li	
							a(href="install-prerequisites.html") Prerequisites
						li
							a(href="install-components.html") Components
						li  
							a(href="install-manager.html") Manager Installation
						li 
							a(href="install-forwarder.html") Install a Forwarder
						li 
							a(href="install-indexer.html") Install an Indexer		
						li	
							a(href="install-updating.html") Updating Logscape 

					p	
						|Common Deployment Scenarios
					ul
						li
							a(href="using-forwarders.html") Default Scenario 
						li
							a(href="using-forwarders-failover.html") Forwarders + Failover 
						li
							a(href="using-indexstores.html") Multiple IndexStores + Failover

						li
							a(href="using-indexstores-zones.html") Multiple IndexStores + Zones 

						li
							a(href="using-indexstores-zones-tenured.html") Multiple IndexStores + Zones + Tenured



					p 
						a(href="apps.html") Logscape Apps
					ul
						li 
							a(href="https://github.com/logscape/windowsapp#windowsapp-10") WindowsApp
						li 
							a(href="https://github.com/logscape/unixapp#unixapp-10") UnixApp

						li 
							a(href="https://github.com/logscape/coherenceapp#oraclecoherenceapp-10") Oracle Coherence App


						li 
							a(href="https://github.com/logscape/javaapp#javaapp-10") JavaApp
						li 
							a(href="https://github.com/logscape/ciscoapp#ciscoapp-10") Syslog Devices 

					p 
						|Contact
					div
						strong 
							span email: 
								a(href="mailto:support@logscape.com") support@logscape.com
						br
						strong
							span twitter: 
								a(href="https://twitter.com/logscape")@logscape

				.col-md-10
					block content

		script(src="js/ga.js") 
