---
--- 
extends layout
 
block content
	.container-fluid
		.row
			.col-md-11
				h3 Tables
				
				h4 Introduction
				em Usage:
					p  chart(pie)

				h4 GeoMap
				em Usage:
					p  chart(pie)

				h4 Stacked
								em Usage:
					p  chart(pie)

				em Usage:
					p  chart(pie)
				h4 C3 Line

				em Usage:
					p  chart(pie)
				h4 Cluster

				h4 Area
								em Usage:
					p  chart(pie)

				h4 Stream
				em Usage:
					p  chart(pie)

				h4 Line
				em Usage:
					p  chart(pie)

				h4 Line-connect
				em Usage:
					p  chart(pie)

				h4 Line-Zer
				em Usage:
					p  chart(pie)

				h4 Scatter
				em Usage:
					p  chart(pie)

				h4 Table
				p The table allows for single bucket analysis of a set of data, for more information check out the 
					a(href="searching-Tables") Tables
					|  page.

				h4 Pie
				em Usage:
					p  chart(pie)

				h4 D3Pie
				em Usage:
					p  chart(d3pie)

				h4 Spark
								em Usage:
					p  chart(pie)

				h4 100%
				em Usage:
					p  chart(pie)
		.row
			.col-md-11
				include includes/disqus 