<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-collectd</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>collectd</id>
      <filePathMask>tag:CollectdApp</filePathMask>
      <fileNameMask>*</fileNameMask>
      <priority>100</priority>
      <expression>(*),(*)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1400855431771</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>date</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>value</name>
          <funct>avg(_host)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>id</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>/var/lib/collectd/battlestar.excelian.local/sensors-i5k_amb-isa-0000/temperature-temp3-2014-03-04</description>
          <groupId>1</groupId>
          <expression>([A-Za-z\-0-9\_]+)/[A-Za-z\-0-9\_]+$</expression>
          <synthSrcField>_path</synthSrcField>
          <synthRegExp>.*?([A-Za-z\-0-9\_]+)/[A-Za-z\-0-9\_]+$.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>metric</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>[A-Za-z\-0-9\_]+/(\w+)[A-Za-z\-0-9\_]+$</description>
          <groupId>1</groupId>
          <expression>(.*)-(\d+-\d+-\d+)</expression>
          <synthSrcField>_filename</synthSrcField>
          <synthRegExp>.*?(.*)-(\d+-\d+-\d+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>p</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>/var/lib/collectd/remote_SERVER_/battlestar.excelian.local/tcpconns-11032-local/tcp_connections-LAST_ACK-2014-03-04</description>
          <groupId>3</groupId>
          <value>/var/lib/collectd/remote_SERVER_/battlestar.excelian.local/disk-cciss_c0d0/disk_merged-2014-03-04</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>plugin</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>(\w+)</expression>
          <synthSrcField>id</synthSrcField>
          <synthRegExp>.*?(\w+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.SplitField>
          <name>instance</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>split,-,2</expression>
          <synthSrcField>id</synthSrcField>
        </com.liquidlabs.log.fields.field.SplitField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>f</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>4</groupId>
          <value>cpu-nice-2014-03-04</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.AppendingField>
          <name>key</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSrcField>subcomponent,metric,_host</synthSrcField>
        </com.liquidlabs.log.fields.field.AppendingField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>valueM</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>5</groupId>
          <expression>jep:value/(1024*1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>valueK</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>6</groupId>
          <expression>jep:value/(1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>valueG</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>7</groupId>
          <expression>jep:value/(1024*1024*1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.AppendingField>
          <name>keymetric</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSrcField>metric,key</synthSrcField>
        </com.liquidlabs.log.fields.field.AppendingField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>value100</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description>{ &quot;heatmap-numeric&quot;: &quot;0-100&quot;  }</description>
          <groupId>8</groupId>
          <expression>jep:value</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>value1</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description>{ &quot;heatmap-numeric&quot;: &quot;0-0.7&quot;  }</description>
          <groupId>9</groupId>
          <expression>jep: value</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>limit1</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>10</groupId>
          <value>1</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>limit2</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>11</groupId>
          <value>2</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>limit3</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>12</groupId>
          <value>3</value>
        </com.liquidlabs.log.fields.field.LiteralField>
      </fields>
      <example>
        <string>1393932054,0.000000</string>
        <string></string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-collectd-data</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>collectd-data</id>
      <filePathMask>tag:CollectdApp</filePathMask>
      <fileNameMask>*</fileNameMask>
      <priority>100</priority>
      <expression>(*),(*)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1397495666316</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>date</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>value</name>
          <funct>avg(_host)</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>id</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>/var/lib/collectd/battlestar.excelian.local/sensors-i5k_amb-isa-0000/temperature-temp3-2014-03-04</description>
          <groupId>1</groupId>
          <expression>([A-Za-z\-0-9\_]+)/[A-Za-z\-0-9\_]+$</expression>
          <synthSrcField>_path</synthSrcField>
          <synthRegExp>.*?([A-Za-z\-0-9\_]+)/[A-Za-z\-0-9\_]+$.*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>metric</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>[A-Za-z\-0-9\_]+/(\w+)[A-Za-z\-0-9\_]+$</description>
          <groupId>1</groupId>
          <expression>(.*)-(\d+-\d+-\d+)</expression>
          <synthSrcField>_filename</synthSrcField>
          <synthRegExp>.*?(.*)-(\d+-\d+-\d+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>p</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description>/var/lib/collectd/remote_SERVER_/battlestar.excelian.local/tcpconns-11032-local/tcp_connections-LAST_ACK-2014-03-04</description>
          <groupId>3</groupId>
          <value>/var/lib/collectd/remote_SERVER_/battlestar.excelian.local/disk-cciss_c0d0/disk_merged-2014-03-04</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>name</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>(\w+)</expression>
          <synthSrcField>id</synthSrcField>
          <synthRegExp>.*?(\w+).*</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.SplitField>
          <name>subcomponent</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>split,-,2</expression>
          <synthSrcField>id</synthSrcField>
        </com.liquidlabs.log.fields.field.SplitField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>f</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>4</groupId>
          <value>cpu-nice-2014-03-04</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.AppendingField>
          <name>key</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>true</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSrcField>subcomponent,metric,_host</synthSrcField>
        </com.liquidlabs.log.fields.field.AppendingField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>valueM</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>5</groupId>
          <expression>jep:value/(1024*1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>valueK</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>6</groupId>
          <expression>jep:value/(1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>valueG</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>7</groupId>
          <expression>jep:value/(1024*1024*1024)</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.AppendingField>
          <name>keymetric</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <synthSrcField>metric,key</synthSrcField>
        </com.liquidlabs.log.fields.field.AppendingField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>value100</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description>{ &quot;heatmap-numeric&quot;: &quot;0-100&quot;  }</description>
          <groupId>8</groupId>
          <expression>jep:value</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.JepField>
          <name>value1</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description>{ &quot;heatmap-numeric&quot;: &quot;0-0.7&quot;  }</description>
          <groupId>9</groupId>
          <expression>jep: value</expression>
        </com.liquidlabs.log.fields.field.JepField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>limit1</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>10</groupId>
          <value>1</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>limit2</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>11</groupId>
          <value>2</value>
        </com.liquidlabs.log.fields.field.LiteralField>
        <com.liquidlabs.log.fields.field.LiteralField>
          <name>limit3</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>12</groupId>
          <value>3</value>
        </com.liquidlabs.log.fields.field.LiteralField>
      </fields>
      <example>
        <string>1393932054,0.000000</string>
        <string></string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->