div(ng-controller="docListCtrl")

	
	div(ng-repeat="doc in documents | filter:filterByCategory | filter:query")
		div(style="width:500px;float:left;margin: 5px 5px 5px 5px")
			div(style="border: 1px solid #CCC;width:100px;height:130px;float:left;padding: 10px 10px 10px 10px") 
				div(style="float:center") 
					img(src="images/apps-doc-logo.png",style="width:80px") 

			div(style="border: 1px solid #CCC;width:300px;float:left") 
				p {{doc.name}}

				span.category  >> {{doc.docType}}
				p {{doc.intro}} 
				div.grid(style="float:left;padding-left:10px")
					a(style="color:fe4800",href="") Documentation  | 
				div(style="color:fe4800;float:left;padding-left:10px")
					a(style="color:fe4800",href="{{doc.zipURL}}") Download 

